* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
body {
  min-height: 100vh;
  min-width: 100vw;
  background: rgba(30, 32, 65, 1);
  color: #c9ccea;
  position: relative;
  overflow: hidden;
}
#settings-button{
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 40px;
    height: 33px;
    line-height: 0px;
}
#settings-button:focus{
   background: #0c0e1b;
   color: #c9ccea;
}

body::before,
body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

body::before {
  background: radial-gradient(circle at 50% 50%, transparent 10%, rgb(255,255,255, 0.1) 20%, transparent 30%);
  animation: ripple1 3s linear infinite;
}

body::after {
  background: radial-gradient(circle at 50% 50%, transparent 20%, rgb(255,255,255, 0.2) 40%, transparent 50%);
  animation: ripple2 3s linear infinite;
}

@keyframes ripple1 {
  0% {
    transform: scale(0.8);
    opacity: 0.2;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes ripple2 {
  0% {
    transform: scale(0.8);
    opacity: 0.1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.heading{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateY(100%);
}
h1 {
  font-size: 2em;
  color: #c9ccea;
  margin-bottom: 8px;
}

small {
  font-size: 0.8em;
  color: #c9ccea;
}
/* Media query for tablets */
@media only screen and (max-width: 768px) {
  #settings-button {
    transform: translate(450%, -1180%);
  }
}

/* Media query for mobile devices */
@media only screen and (max-width: 480px) {
  #settings-button {
    transform: translate(200%, -1080%);
  }
  .heading{
    transform:translateY(50%);
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  #settings-button {
    transform: translate(450%, -1180%);
  }
}


